<html>

<head>
    <style>
        table { padding: 15px}
        thead {font-weight: bold;}
        td {padding: 5px}
    </style>
    <title>Browse {{data.requested_path}}</title>
</head>

<body>
    {% if data.parent_path is not none %}
    <a href="/browse?path={{data.parent_path}}">Back</a>
    {% endif %}

    <table style="padding: 15px">
        <thead>
            <td>Name</td>
            <td>Type</td>
            <td>File Size</td>
        </thead>
        {% for folder in data.folders %}
        <tr>
            <td><a href="/browse?path={{folder.path}}">{{folder.name}}</a></td>
            <td>Folder</td>
            <td>-</td>
        </tr>
        {% endfor %}
        {% for file in data.files %}
        <tr>
            <td><a href="/download?path={{file.path}}">{{file.name}}</a></td>
            <td>File</td>
            <td>{{file.size}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>